.main{
    height: 100vh;
    width: 100vw;
    background-color: sienna;
    display: flex;
    align-items: center;
    justify-content: center;
}

#message-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-family: 'Segoe UI';
    font-weight: 900;
    font-size: 80px;
    height: 80%;
    width: 50%;
    border-radius: 25px;
    background-color: yellowgreen;
    border-width: 10px;
    border-style: solid;
    border-color: purple;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    &:hover{
        border-style: double;
        border-color: black;
    }
}

#try-btn{
    margin-top: 30px;
    height: 40px;
    width: 120px;
    border-width: 0px;
    border-radius: 20px;
    background-color: blueviolet;
    color: white;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

#try-btn:hover{
    background-color: darkmagenta;
}

@media (max-width: 890px){
    #message-box{
        font-size: xx-large;
    }
}