.sandwich{
    padding-top:10px;
    background-color: transparent;
    display:flex;
    height:70px;
    border-style: solid;
}

.sandwich:hover{
    border-width: 6px;
    border-color: black;
}

#span{
    color: aliceblue;
    margin-top: .5em;
    margin-left: .5em;
    text-shadow: black;
    font-size: x-large;
    font-weight: 900;
    font-family: 'Segoe UI';
}

#profile-pic{
    display:flex;
    justify-content:center;
    align-items:center;
    height:60px;
    width:60px;
    border-radius:50px;
    background-image:linear-gradient(cyan, lightblue);
}

#label{
    height:35px;
    width:50px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#upload{
    display:none;
}

#icon{
    color:aliceblue;
}