.sandwich{
    padding-top:10px;
    background-color: transparent;
    display:flex;
    height:90px;
    border-style: solid;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: linear;
}

.sandwich:hover{
    border-width: 6px;
    border-color: black;
}

#span{
    color: aliceblue;
    padding-top: 20px;
    padding-left: 15px;
    text-shadow: black;
    font-size: x-large;
    font-weight: 900;
    font-family: 'Segoe UI';
}

#profile-pic{
    margin-left: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    height:80px;
    width:80px;
    border-radius:50px;
    background-image:linear-gradient(black,gray);
    background-size: cover;
    background-position: center;
}

#image{
    padding: 0px 0px 0px;
    height: 100%;
    width: 100%;
}

#label{
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

#upload{
    display:none;
}

#icon{
    color:aliceblue;
}