#form-box{
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
#form{
    background-color:transparent;
    height:600px; 
    width:600px;
    border-radius:30px;
    border-style:solid;
    display:flex;
    justify-content:center;
    align-items:center;
    transition-property: inherit;
    transition-duration: 500ms;
    transition-timing-function:cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

#form:hover{
    border-width:5px;
    border-color:black;
}

#main-form{
    height:50%;
}

label{
    color:black;
    text-shadow: 2px 2px darkgrey;
    font-weight:900;
    font-family:'Segoe UI';
    font-size:x-large;
    padding-left:2px;
}

input{
    font-family:'Segoe UI';
    font-weight:bolder;
    font-size:large;
    padding-left:5px;
    height:30px;
    width:400px;
    margin-bottom:40px;
    border-radius:10px;
}

#save-btn{
    margin-left:35%;
    padding-left:0%;
    background-color:mediumturquoise;
    height:50px;
    width:100px;
    border-radius:25px;
    border-style:solid;
}

#save-btn:hover{
    border-width:2px;
    border-color:blue;
}