#form-box{
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
#form{
    background-color:transparent;
    height:40rem; 
    width:40rem;
    border-radius:30px;
    border-style:solid;
    display:flex;
    justify-content:center;
    align-items:center;
}

#main-form{
    height:50%;
}

label{
    color:black;
    text-shadow: 2px 2px darkgrey;
    font-weight:900;
    font-family:'Segoe UI';
    font-size:x-large;
    padding-left:2px;
}

input{
    font-family:'Segoe UI';
    font-weight:bolder;
    font-size:large;
    padding-left:5px;
    height:2.5rem;
    width:25rem;
    margin-bottom:40px;
    border-radius:10px;
}

#save-btn{
    margin-left:9rem;
    padding-left:0%;
    background-color:mediumturquoise;
    height:3rem;
    width:6rem;
    border-radius:25px;
    border-style:solid;
}

#save-btn:hover{
    border-width:2px;
    border-color:blue;
}