#app-div{
    height:100%;
    width:100%;
    background-image:url('https://wallpapers.com/images/hd/pixel-background-h3m4xkusacidwr8e.webp');
    background-repeat: no-repeat;
    background-size:100%;
}