#app-div{
    height: 100%;
    width: 100%;
}

#infinite-query{
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#load{
    height: 80%;
    width: 15%;
    background-color: cadetblue;
    border-radius: 25px;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}

#load:hover{
    background-color: cyan;
}