*{
  margin:0;
  padding:0;
  border:0;
}

body{
  height:100vh;
  width:100vw;
  background-image: url('https://t4.ftcdn.net/jpg/03/40/95/07/240_F_340950720_lfQmAGiq2CcqDH3aqiVKshA5l6yFDvwo.jpg  ');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#root{
  height:100%;
  width:100%;
}