*{
  margin:0;
  padding:0;
  border:0;
}

body{
  height:100vh;
  width:100vw;
  background-image:url('https://wallpapers.com/images/high/1920x1080-amoled-dauntless-ocscsu5edm7pezy0.webp');
  background-size:cover;
}

#root{
  height:100%;
  width:100%;
}